@import 'customer/_credit-facility.less';
@import 'checkout/_payment-method.less';

& when (@media-common = true) {
    .tilta-salutation-grid {
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-gap: 1rem;
        align-items: center;
    }
}
