<div class="tilta-facility-form__field_incorporated_at">
    <select class="select"
            data-bind="
                attr: {
                    'required': required(),
                    'aria-invalid': error() ? 'true' : 'false',
                    'aria-required': required() ? 'true' : 'false'
                },
                options: optionsDay,
                value: valueDay,
                optionsCaption: $t('Day')
            "
    ></select>
    <select class="select"
            data-bind="
                attr: {
                    'required': required(),
                    'aria-invalid': error() ? 'true' : 'false',
                    'aria-required': required() ? 'true' : 'false'
                },
                options: optionsMonth,
                value: valueMonth,
                optionsCaption: $t('Month')
            "
    ></select>
    <select class="select"
            data-bind="
                attr: {
                    'required': required(),
                    'aria-invalid': error() ? 'true' : 'false',
                    'aria-required': required() ? 'true' : 'false'
                },
                options: optionsYear,
                value: valueYear,
                optionsCaption: $t('Year')
            "
    ></select>
</div>
