<div>
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <p data-bind="i18n: 'To activate your account for payment by invoice, we need a few additional business details. This is a one-time step – you won’t need to resubmit them for future orders.'"></p>
    <form id="tilta-request-facility" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <fieldset class="fieldset">
            <!-- ko foreach: getRegion('tilta-request-facility-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>
        <button type="button" data-bind="click: () => onSubmit()" class="btn primary action">
            <span data-bind="i18n: 'Activate payment by invoice'"></span>
        </button>
    </form>
</div>
